.forum-container {
  background: white;
  padding: .5rem;
  display: flex;
  margin-bottom: .5rem;

  &--left-section {
    .title {
      color: #676767;
      margin-bottom: 0;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
    }
  }

  &--right-section {
    position: relative;


    .author-name {
      font-weight: bold;
      color: #AA0000;
      cursor: pointer;
      font-size: .8rem;
    }

    .author-container {
      font-size: .8rem;
    }

    .theme-name {
      color: #676767;
      font-weight: bold;
      font-size: .8rem;
    }

    .created-date {
      font-size: .8rem;
    }
  }

  .avatar {
    width: 2rem;
    height: 2rem;
    background: red;
    border-radius: 50%;
  }

  .topics-info {
    position: relative;
  }

  .forum-vision {
    width: 2rem;
    height: 2rem;
    background: white;
    border-radius: 50%;
    border: 2px solid  lightgrey;

    .minus-sign {
      color: lightgrey;
    }
  }
}
