.login-btn {
  background: #4a569d;
  color: white;
  padding: .5rem;
  font-weight: bold;

  &:focus {
    outline: none;
  }
}

.form-label {
  color:rgb(129, 129, 129);
  font-weight: bold;
  font-size: .9rem;

  input {
    height: 2.4rem;
    background: #F7F7F7;
    border: 1px solid #edecec;
  }

  input:focus {
    outline: none;
  }
}


.login-divider {
  height: 1px;
  background: #ECF0F1;
  width: 100%;
}


.forgot-pass-title {
  font-size: .8rem;
  cursor: pointer;
  font-weight: 600;
  color: #4a569d;
}


.google-btn {
  background: white;
  color: red;
  border: 1px solid red;
}

.fb-btn {
  background: #3b5998;
  color: white;
}

.social-title {
  font-size: 1rem;
  color: #676767;
  font-weight: bold;
}
