
.my_modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0,0,0,0.84);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;

}


.modal_body {
  padding: 2rem;
  position: relative;
  background: white;
}


.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}

.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}

.overlay {
  opacity: 0!important;
}

.overlay-enter {
  opacity: 0;
}

.overlay-enter-active {
  opacity: 1;
}

.alert-enter {
  opacity: 0;
  top: 0;
  transform: translate3d(0,-500px,0);
}
.alert-enter-active {
  opacity: 1;
  transform: translate3d(0,0,0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  top: 0;
  transform: translate3d(0,-500px,0);
  transition: opacity 300ms, transform 300ms;
}

.overlay-exit {
  opacity: 1;
}

.overlay-exit-active {
  opacity: 0;
  top: 0;
  transform: translate3d(0,-500px,0);
  transition: opacity 300ms, transform 300ms;
}

.overlay-exit-done {
  opacity: 0;
  display: none;
}


.my_modal_show {
  opacity: 1;
  display: flex;

}
